In [163]:
import pandas as pd

In [164]:
import numpy as np

In [165]:
data =pd.read_csv('predicationFile.csv')

In [166]:
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,...,1,2,YES,71610,6510,13020,52080,Saab,92x,2004
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,...,0,0,?,5070,780,780,3510,Mercedes,E400,2007
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,...,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,...,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,...,0,1,NO,6500,1300,650,4550,Accura,RSX,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,46,156636,9/10/2000,IN,100/300,1000,870.55,0,465631,...,0,3,?,80280,13380,13380,53520,Chevrolet,Tahoe,2013
496,321,44,284143,4/23/2008,IL,500/1000,2000,1344.56,6000000,443344,...,1,2,NO,4680,520,0,4160,Accura,MDX,1999
497,0,32,740518,2/18/2011,OH,500/1000,1000,1377.04,0,441363,...,1,1,NO,39720,6620,6620,26480,Accura,MDX,2002
498,405,58,445289,4/24/2012,IL,250/500,500,1237.88,0,462683,...,0,0,?,63580,5780,5780,52020,Mercedes,ML350,1997
499,304,49,599262,9/25/2001,IN,100/300,1000,1525.86,0,463184,...,1,1,YES,73370,13340,6670,53360,Saab,95,2013

In [167]:
data.shape

(500, 38)

#### Remove the columns those are not use for prediction

In [168]:
user_full_data=data.drop(labels=['policy_number', 'policy_bind_date', 'policy_state', 'insured_zip',
                                                'incident_location', 'incident_date', 'incident_state', 'incident_city',
                                                'insured_hobbies', 'auto_make', 'auto_model', 'auto_year', 'age',
                                                'total_claim_amount'],axis=1)

In [169]:
user_full_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,Police,8,1,?,0,0,?,780,780,3510
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,Police,5,1,?,1,2,NO,6340,6340,50720
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,0,...,Other,19,1,?,0,3,?,13380,13380,53520
496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,0,...,Police,7,1,?,1,2,NO,520,0,4160
497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,61400,...,Ambulance,6,4,?,1,1,NO,6620,6620,26480
498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,0,...,Police,11,1,?,0,0,?,5780,5780,52020
499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,0,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [170]:
user_full_data.shape

(500, 24)

In [171]:
user_full_data.replace('?', np.NaN, inplace=True)

In [172]:
user_full_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,Police,8,1,NaN,0,0,NaN,780,780,3510
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,Police,5,1,NaN,1,2,NO,6340,6340,50720
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,0,...,Other,19,1,NaN,0,3,NaN,13380,13380,53520
496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,0,...,Police,7,1,NaN,1,2,NO,520,0,4160
497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,61400,...,Ambulance,6,4,NaN,1,1,NO,6620,6620,26480
498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,0,...,Police,11,1,NaN,0,0,NaN,5780,5780,52020
499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,0,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [173]:
user_full_data.isnull().sum()

months_as_customer               0
policy_csl                       0
policy_deductable                0
policy_annual_premium            0
umbrella_limit                   0
insured_sex                      0
insured_education_level          0
insured_occupation               0
insured_relationship             0
capital-gains                    0
capital-loss                     0
incident_type                    0
collision_type                  90
incident_severity                0
authorities_contacted            0
incident_hour_of_the_day         0
number_of_vehicles_involved      0
property_damage                187
bodily_injuries                  0
witnesses                        0
police_report_available        176
injury_claim                     0
property_claim                   0
vehicle_claim                    0
dtype: int64

In [174]:
cols_with_missing_values=[]

In [175]:
null_present = False

In [176]:
cols  = user_full_data.columns

In [177]:
null_counts=user_full_data.isna().sum()

In [178]:
for i in range(len(null_counts)):
    if null_counts[i]>0:
        null_present=True
        cols_with_missing_values.append(cols[i])

In [179]:
cols_with_missing_values

['collision_type', 'property_damage', 'police_report_available']

In [180]:
dataframe_with_null = pd.DataFrame()

In [181]:
dataframe_with_null['columns'] = user_full_data.columns

In [182]:
dataframe_with_null

                        columns
0            months_as_customer
1                    policy_csl
2             policy_deductable
3         policy_annual_premium
4                umbrella_limit
5                   insured_sex
6       insured_education_level
7            insured_occupation
8          insured_relationship
9                 capital-gains
10                 capital-loss
11                incident_type
12               collision_type
13            incident_severity
14        authorities_contacted
15     incident_hour_of_the_day
16  number_of_vehicles_involved
17              property_damage
18              bodily_injuries
19                    witnesses
20      police_report_available
21                 injury_claim
22               property_claim
23                vehicle_claim

In [183]:
dataframe_with_null['missing values count'] = np.asarray(user_full_data.isna().sum())

In [184]:
dataframe_with_null.to_csv('prediction_null_values.csv')

In [185]:
from sklearn_pandas import CategoricalImputer

In [186]:
imputer = CategoricalImputer()

In [187]:
for i in cols_with_missing_values:
    print(i)

collision_type
property_damage
police_report_available

In [188]:
user_full_data['collision_type']= imputer.fit_transform(user_full_data['collision_type'])

In [189]:
user_full_data['property_damage']= imputer.fit_transform(user_full_data['property_damage'])

In [190]:
user_full_data['police_report_available']= imputer.fit_transform(user_full_data['police_report_available'])

In [191]:
user_full_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,Police,8,1,NO,0,0,NO,780,780,3510
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,Police,5,1,NO,1,2,NO,6340,6340,50720
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,0,...,Other,19,1,NO,0,3,NO,13380,13380,53520
496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,0,...,Police,7,1,NO,1,2,NO,520,0,4160
497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,61400,...,Ambulance,6,4,NO,1,1,NO,6620,6620,26480
498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,0,...,Police,11,1,NO,0,0,NO,5780,5780,52020
499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,0,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [192]:
cat_df = user_full_data.select_dtypes(include=['object']).copy()

In [193]:
cat_df.dtypes

policy_csl                 object
insured_sex                object
insured_education_level    object
insured_occupation         object
insured_relationship       object
incident_type              object
collision_type             object
incident_severity          object
authorities_contacted      object
property_damage            object
police_report_available    object
dtype: object

In [194]:
cat_df['policy_csl'] = cat_df['policy_csl'].map({'100/300': 1, '250/500': 2.5, '500/1000': 5})

In [195]:
cat_df['insured_education_level'] = cat_df['insured_education_level'].map({'JD': 1, 'High School': 2, 'College': 3, 'Masters': 4, 'Associate': 5, 'MD': 6, 'PhD': 7})

In [196]:
cat_df['incident_severity'] = cat_df['incident_severity'].map({'Trivial Damage': 1, 'Minor Damage': 2, 'Major Damage': 3, 'Total Loss': 4})

In [197]:
cat_df['insured_sex'] = cat_df['insured_sex'].map({'FEMALE': 0, 'MALE': 1})

In [198]:
cat_df['property_damage'] = cat_df['property_damage'].map({'NO': 0, 'YES': 1})

In [199]:
cat_df['police_report_available'] = cat_df['police_report_available'].map({'NO': 0, 'YES': 1})

In [200]:
cat_df.head(2)

,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,property_damage,police_report_available
0,2.5,1,6,craft-repair,husband,Single Vehicle Collision,Side Collision,3,Police,1,1
1,2.5,1,6,machine-op-inspct,other-relative,Vehicle Theft,Rear Collision,2,Police,0,0

In [201]:
cat_df.shape

(500, 11)

In [202]:
user_full_data.head(2)

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,Police,8,1,NO,0,0,NO,780,780,3510

In [203]:
cols_to_drop=['policy_csl', 'insured_education_level', 'incident_severity', 'insured_sex','property_damage', 'police_report_available']

In [204]:
for col in cat_df.drop(columns=cols_to_drop).columns:
    cat_df =  pd.get_dummies(cat_df, columns=[col], prefix=[col], drop_first=True)

In [205]:
for col in cat_df.drop(columns=['policy_csl','insured_education_level','incident_severity','insured_sex','property_damage','police_report_available']).columns:
    print(col)

insured_occupation_armed-forces
insured_occupation_craft-repair
insured_occupation_exec-managerial
insured_occupation_farming-fishing
insured_occupation_handlers-cleaners
insured_occupation_machine-op-inspct
insured_occupation_other-service
insured_occupation_priv-house-serv
insured_occupation_prof-specialty
insured_occupation_protective-serv
insured_occupation_sales
insured_occupation_tech-support
insured_occupation_transport-moving
insured_relationship_not-in-family
insured_relationship_other-relative
insured_relationship_own-child
insured_relationship_unmarried
insured_relationship_wife
incident_type_Parked Car
incident_type_Single Vehicle Collision
incident_type_Vehicle Theft
collision_type_Rear Collision
collision_type_Side Collision
authorities_contacted_Fire
authorities_contacted_None
authorities_contacted_Other
authorities_contacted_Police

In [206]:
cat_df.head(2)

,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,police_report_available,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,insured_occupation_farming-fishing,...,insured_relationship_wife,incident_type_Parked Car,incident_type_Single Vehicle Collision,incident_type_Vehicle Theft,collision_type_Rear Collision,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police
0,2.5,1,6,3,1,1,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
1,2.5,1,6,2,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,1

In [157]:
user_full_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,authorities_contacted,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,Police,5,1,YES,1,2,YES,6510,13020,52080
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,Police,8,1,NO,0,0,NO,780,780,3510
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,Police,7,3,NO,2,3,NO,7700,3850,23100
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,Police,5,1,NO,1,2,NO,6340,6340,50720
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,None,20,1,NO,0,1,NO,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,100/300,1000,870.55,0,MALE,PhD,prof-specialty,unmarried,0,...,Other,19,1,NO,0,3,NO,13380,13380,53520
496,321,500/1000,2000,1344.56,6000000,MALE,Associate,machine-op-inspct,husband,0,...,Police,7,1,NO,1,2,NO,520,0,4160
497,0,500/1000,1000,1377.04,0,MALE,College,tech-support,wife,61400,...,Ambulance,6,4,NO,1,1,NO,6620,6620,26480
498,405,250/500,500,1237.88,0,MALE,MD,exec-managerial,not-in-family,0,...,Police,11,1,NO,0,0,NO,5780,5780,52020
499,304,100/300,1000,1525.86,0,FEMALE,PhD,craft-repair,own-child,0,...,Other,2,1,YES,1,1,YES,13340,6670,53360

In [207]:
num_df1 = data.select_dtypes(include=['int64']).copy()

In [208]:
num_df1.shape

(500, 17)

In [212]:
data = pd.concat([cat_df,num_df1], axis=1)

In [213]:
data

,policy_csl,insured_sex,insured_education_level,incident_severity,property_damage,police_report_available,insured_occupation_armed-forces,insured_occupation_craft-repair,insured_occupation_exec-managerial,insured_occupation_farming-fishing,...,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
0,2.5,1,6,3,1,1,0,1,0,0,...,0,5,1,1,2,71610,6510,13020,52080,2004
1,2.5,1,6,2,0,0,0,0,0,0,...,0,8,1,0,0,5070,780,780,3510,2007
2,1.0,0,7,2,0,0,0,0,0,0,...,0,7,3,2,3,34650,7700,3850,23100,2007
3,2.5,0,7,3,0,0,1,0,0,0,...,-62400,5,1,1,2,63400,6340,6340,50720,2014
4,5.0,1,5,2,0,0,0,0,0,0,...,-46000,20,1,0,1,6500,1300,650,4550,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1.0,1,7,2,0,0,0,0,0,0,...,-49400,19,1,0,3,80280,13380,13380,53520,2013
496,5.0,1,5,1,0,0,0,0,0,0,...,-39100,7,1,1,2,4680,520,0,4160,1999
497,5.0,1,3,2,0,0,0,0,0,0,...,-41100,6,4,1,1,39720,6620,6620,26480,2002
498,2.5,1,6,3,0,0,0,0,1,0,...,-46900,11,1,0,0,63580,5780,5780,52020,1997
499,1.0,0,7,2,1,1,0,1,0,0,...,0,2,1,1,1,73370,13340,6670,53360,2013

In [211]:
data.shape

(500, 50)

In [214]:
num_df = data[['months_as_customer', 'policy_deductable', 'umbrella_limit',
                          'capital-gains', 'capital-loss', 'incident_hour_of_the_day',
                          'number_of_vehicles_involved', 'bodily_injuries', 'witnesses', 'injury_claim',
                          'property_claim',
                          'vehicle_claim']]

In [215]:
num_df

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,328,1000,0,53300,0,5,1,1,2,6510,13020,52080
1,228,2000,5000000,0,0,8,1,0,0,780,780,3510
2,134,2000,5000000,35100,0,7,3,2,3,7700,3850,23100
3,256,2000,6000000,48900,-62400,5,1,1,2,6340,6340,50720
4,228,1000,6000000,66000,-46000,20,1,0,1,1300,650,4550
...,...,...,...,...,...,...,...,...,...,...,...,...
495,261,1000,0,0,-49400,19,1,0,3,13380,13380,53520
496,321,2000,6000000,0,-39100,7,1,1,2,520,0,4160
497,0,1000,0,61400,-41100,6,4,1,1,6620,6620,26480
498,405,500,0,0,-46900,11,1,0,0,5780,5780,52020
499,304,1000,0,0,0,2,1,1,1,13340,6670,53360

In [216]:
from sklearn.preprocessing import StandardScaler

In [217]:
scaler = StandardScaler()

In [218]:
scaled_data = scaler.fit_transform(num_df)

In [219]:
scaled_num_df = pd.DataFrame(data=scaled_data, columns=num_df.columns,index=data.index)

In [220]:
scaled_num_df

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,property_claim,vehicle_claim
0,1.077587,-0.305837,-0.499046,1.031427,0.939583,-1.009651,-0.840597,0.012329,0.523003,-0.226720,1.114496,0.710762
1,0.210216,1.295405,1.583782,-0.879008,0.939583,-0.565914,-0.840597,-1.220549,-1.299307,-1.377713,-1.364142,-1.826741
2,-0.605113,1.295405,1.583782,0.379083,0.939583,-0.713826,1.118836,1.245207,1.434158,0.012317,-0.742458,-0.803276
3,0.453080,1.295405,2.000348,0.873718,-1.319639,-1.009651,-0.840597,0.012329,0.523003,-0.260868,-0.238225,0.639710
4,0.210216,-0.305837,2.000348,1.486634,-0.725869,1.209038,-0.840597,-1.220549,-0.388152,-1.273260,-1.390468,-1.772407
...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.496448,-0.305837,-0.499046,-0.879008,-0.848968,1.061125,-0.840597,-1.220549,1.434158,1.153268,1.187398,0.785994
496,1.016871,1.295405,2.000348,-0.879008,-0.476051,-0.713826,-0.840597,0.012329,0.523003,-1.429940,-1.522095,-1.792782
497,-1.767389,-0.305837,-0.499046,1.321756,-0.548462,-0.861739,2.098552,0.012329,-0.388152,-0.204624,-0.181524,-0.626691
498,1.745462,-1.106459,-0.499046,-0.879008,-0.758454,-0.122176,-0.840597,-1.220549,-1.299307,-0.373356,-0.351626,0.707627
499,0.869418,-0.305837,-0.499046,-0.879008,0.939583,-1.453389,-0.840597,0.012329,-0.388152,1.145233,-0.171399,0.777635

In [221]:
data.drop(columns=scaled_num_df.columns, inplace=True)

In [222]:
data = pd.concat([scaled_num_df, data], axis=1)

In [223]:
data.shape

(500, 50)

In [226]:
import pickle

In [228]:
kmeans = pickle.load(open('kmean.sav','rb'))

In [230]:
clusters=kmeans.predict(data)

In [231]:
data['clusters']=clusters

In [232]:
data

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,...,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police,age,policy_number,insured_zip,total_claim_amount,auto_year,clusters
0,1.077587,-0.305837,-0.499046,1.031427,0.939583,-1.009651,-0.840597,0.012329,0.523003,-0.226720,...,0,0,0,1,48,521585,466132,71610,2004,1
1,0.210216,1.295405,1.583782,-0.879008,0.939583,-0.565914,-0.840597,-1.220549,-1.299307,-1.377713,...,0,0,0,1,42,342868,468176,5070,2007,1
2,-0.605113,1.295405,1.583782,0.379083,0.939583,-0.713826,1.118836,1.245207,1.434158,0.012317,...,0,0,0,1,29,687698,430632,34650,2007,1
3,0.453080,1.295405,2.000348,0.873718,-1.319639,-1.009651,-0.840597,0.012329,0.523003,-0.260868,...,0,0,0,1,41,227811,608117,63400,2014,1
4,0.210216,-0.305837,2.000348,1.486634,-0.725869,1.209038,-0.840597,-1.220549,-0.388152,-1.273260,...,0,1,0,0,44,367455,610706,6500,2009,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.496448,-0.305837,-0.499046,-0.879008,-0.848968,1.061125,-0.840597,-1.220549,1.434158,1.153268,...,0,0,1,0,46,156636,465631,80280,2013,1
496,1.016871,1.295405,2.000348,-0.879008,-0.476051,-0.713826,-0.840597,0.012329,0.523003,-1.429940,...,0,0,0,1,44,284143,443344,4680,1999,1
497,-1.767389,-0.305837,-0.499046,1.321756,-0.548462,-0.861739,2.098552,0.012329,-0.388152,-0.204624,...,0,0,0,0,32,740518,441363,39720,2002,1
498,1.745462,-1.106459,-0.499046,-0.879008,-0.758454,-0.122176,-0.840597,-1.220549,-1.299307,-0.373356,...,0,0,0,1,58,445289,462683,63580,1997,1
499,0.869418,-0.305837,-0.499046,-0.879008,0.939583,-1.453389,-0.840597,0.012329,-0.388152,1.145233,...,0,0,1,0,49,599262,463184,73370,2013,1

In [233]:
data['clusters'].unique()

array([1], dtype=int64)

In [234]:
clusters=data['clusters'].unique()

In [235]:
predictions=[]

In [237]:
cluster_data= data[data['clusters']==1]

In [240]:
cluster_data = cluster_data.drop(['clusters'],axis=1)

In [241]:
cluster_data

,months_as_customer,policy_deductable,umbrella_limit,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,injury_claim,...,collision_type_Side Collision,authorities_contacted_Fire,authorities_contacted_None,authorities_contacted_Other,authorities_contacted_Police,age,policy_number,insured_zip,total_claim_amount,auto_year
0,1.077587,-0.305837,-0.499046,1.031427,0.939583,-1.009651,-0.840597,0.012329,0.523003,-0.226720,...,1,0,0,0,1,48,521585,466132,71610,2004
1,0.210216,1.295405,1.583782,-0.879008,0.939583,-0.565914,-0.840597,-1.220549,-1.299307,-1.377713,...,0,0,0,0,1,42,342868,468176,5070,2007
2,-0.605113,1.295405,1.583782,0.379083,0.939583,-0.713826,1.118836,1.245207,1.434158,0.012317,...,0,0,0,0,1,29,687698,430632,34650,2007
3,0.453080,1.295405,2.000348,0.873718,-1.319639,-1.009651,-0.840597,0.012329,0.523003,-0.260868,...,0,0,0,0,1,41,227811,608117,63400,2014
4,0.210216,-0.305837,2.000348,1.486634,-0.725869,1.209038,-0.840597,-1.220549,-0.388152,-1.273260,...,0,0,1,0,0,44,367455,610706,6500,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.496448,-0.305837,-0.499046,-0.879008,-0.848968,1.061125,-0.840597,-1.220549,1.434158,1.153268,...,0,0,0,1,0,46,156636,465631,80280,2013
496,1.016871,1.295405,2.000348,-0.879008,-0.476051,-0.713826,-0.840597,0.012329,0.523003,-1.429940,...,0,0,0,0,1,44,284143,443344,4680,1999
497,-1.767389,-0.305837,-0.499046,1.321756,-0.548462,-0.861739,2.098552,0.012329,-0.388152,-0.204624,...,0,0,0,0,0,32,740518,441363,39720,2002
498,1.745462,-1.106459,-0.499046,-0.879008,-0.758454,-0.122176,-0.840597,-1.220549,-1.299307,-0.373356,...,0,0,0,0,1,58,445289,462683,63580,1997
499,0.869418,-0.305837,-0.499046,-0.879008,0.939583,-1.453389,-0.840597,0.012329,-0.388152,1.145233,...,1,0,0,1,0,49,599262,463184,73370,2013

In [242]:
cluster_number= 1