In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
data = pd.read_csv("InputFile.csv")

In [5]:
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N
5,256,39,104594,10/12/2006,OH,250/500,1000,1351.10,0,478456,...,2,NO,64100,6410,6410,51280,Saab,95,2003,Y
6,137,34,413978,6/4/2000,IN,250/500,1000,1333.35,0,441716,...,0,?,78650,21450,7150,50050,Nissan,Pathfinder,2012,N
7,165,37,429027,2/3/1990,IL,100/300,1000,1137.03,0,603195,...,2,YES,51590,9380,9380,32830,Audi,A5,2015,N
8,27,33,485665,2/5/1997,IL,100/300,500,1442.99,0,601734,...,1,YES,27700,2770,2770,22160,Toyota,Camry,2012,N
9,212,42,636550,7/25/2011,IL,100/300,500,1315.68,0,600983,...,1,?,42300,4700,4700,32900,Saab,92x,1996,N
10,235,42,543610,5/26/2002,OH,100/300,500,1253.12,4000000,462283,...,2,?,87010,7910,15820,63280,Ford,F150,2002,N
11,447,61,214618,5/29/1999,OH,100/300,2000,1137.16,0,615561,...,2,YES,114920,17680,17680,79560,Audi,A3,2006,N
12,60,23,842643,11/20/1997,OH,500/1000,500,1215.36,3000000,432220,...,0,NO,56520,4710,9420,42390,Saab,95,2000,N
13,121,34,626808,10/26/2012,OH,100/300,1000,936.61,0,464652,...,1,NO,7280,1120,1120,5040,Toyota,Highlander,2010,N
14,180,38,644081,12/28/1998,OH,250/500,2000,1301.13,0,476685,...,2,YES,46200,4200,8400,33600,Dodge,Neon,2003,Y
15,473,58,892874,10/19/1992,IN,100/300,2000,1131.40,0,458733,...,0,NO,63120,10520,10520,42080,Accura,MDX,1999,Y
16,70,26,558938,6/8/2005,OH,500/1000,1000,1199.44,5000000,619884,...,2,YES,52110,5790,5790,40530,Nissan,Maxima,2012,N
17,140,31,275265,11/15/2004,IN,500/1000,500,708.64,6000000,470610,...,2,YES,77880,14160,7080,56640,Suburu,Legacy,2015,N
18,160,37,921202,12/28/2014,OH,500/1000,500,1374.22,0,472135,...,0,NO,72930,6630,13260,53040,Accura,TL,2015,N
19,196,39,143972,8/2/1992,IN,500/1000,2000,1475.73,0,477670,...,0,NO,60400,6040,6040,48320,Nissan,Pathfinder,2014,N
20,460,62,183430,6/25/2002,IN,250/500,1000,1187.96,4000000,618845,...,0,?,47160,0,5240,41920,Suburu,Impreza,2011,N
21,217,41,431876,11/27/2005,IL,500/1000,2000,875.15,0,442479,...,2,?,37840,0,4730,33110,Accura,RSX,1996,N
22,370,55,285496,5/27/1994,IL,100/300,2000,972.18,0,443920,...,0,YES,71520,17880,5960,47680,Suburu,Forrestor,2000,Y
23,413,55,115399,2/8/1991,IN,100/300,2000,1268.79,0,453148,...,2,?,98160,8180,16360,73620,Dodge,RAM,2011,Y
24,237,40,736882,2/2/1996,IN,100/300,1000,883.31,0,434733,...,3,NO,77880,7080,14160,56640,Ford,Escape,2005,N
25,8,35,699044,12/5/2013,OH,100/300,2000,1266.92,0,613982,...,3,YES,71500,16500,11000,44000,Ford,Escape,2006,Y
26,257,43,863236,9/20/1990,IN,100/300,2000,1322.10,0,436984,...,3,YES,9020,1640,820,6560,Toyota,Camry,2005,N
27,202,34,608513,7/18/2002,IN,100/300,500,848.07,3000000,607730,...,1,?,5720,1040,520,4160,Suburu,Forrestor,2003,Y
28,224,40,914088,2/8/1990,OH,100/300,2000,1291.70,0,609837,...,0,YES,69840,7760,15520,46560,Dodge,Neon,2009,N
29,241,45,596785,3/4/2014,IL,500/1000,2000,1104.50,0,432211,...,2,NO,91650,14100,14100,63450,Accura,TL,2011,N
30,64,25,908616,2/18/2000,IL,250/500,1000,954.16,0,473328,...,0,?,75600,12600,12600,50400,Toyota,Corolla,2005,N
31,166,37,666333,6/19/2008,IL,100/300,2000,1337.28,8000000,610393,...,2,?,67140,7460,7460,52220,Ford,F150,2006,Y
32,155,35,336614,8/1/2003,IL,500/1000,1000,1088.34,0,614780,...,3,NO,29790,3310,3310,23170,BMW,3 Series,2008,N
33,114,30,584859,4/4/1992,IL,100/300,1000,1558.29,0,472248,...,2,?,77110,14020,14020,49070,Suburu,Impreza,2015,N
34,149,37,990493,1/13/1991,IL,500/1000,500,1415.68,0,603381,...,1,YES,64800,10800,5400,48600,Audi,A3,1999,N
35,147,33,129872,8/8/2010,OH,100/300,1000,1334.15,6000000,479224,...,0,YES,53100,10620,5310,37170,Mercedes,C300,1995,Y
36,62,28,200152,3/9/2003,IL,100/300,1000,988.45,0,430141,...,1,YES,60200,6020,6020,48160,Suburu,Forrestor,2004,Y
37,289,49,933293,2/3/1993,IL,500/1000,2000,1222.48,0,620757,...,1,YES,5330,1230,820,3280,Suburu,Legacy,2001,N
38,431,54,485664,11/25/2002,IN,500/1000,2000,1155.55,0,615901,...,0,?,62300,12460,6230,43610,Jeep,Wrangler,2007,N
39,199,37,982871,7/27/1997,IN,250/500,500,1262.08,0,474615,...,3,NO,60170,10940,10940,38290,Nissan,Pathfinder,2011,Y
40,79,26,206213,5/8/1995,IL,100/300,500,1451.62,0,456446,...,2,?,40000,8000,4000,28000,BMW,M5,2010,N
41,116,34,616337,8/30/2012,IN,250/500,500,1737.66,0,470577,...,1,?,97080,16180,16180,64720,BMW,X5,2001,Y
42,37,23,448961,4/30/2006,IL,500/1000,500,1475.93,0,441648,...,0,NO,51660,5740,5740,40180,Dodge,RAM,2010,N
43,106,30,790442,4/13/2003,OH,250/500,500,538.17,0,433782,...,2,NO,51120,5680,5680,39760,Mercedes,E400,2005,N
44,269,44,108844,12/5/2007,IL,100/300,2000,1081.08,0,468104,...,2,?,56400,11280,11280,33840,Toyota,Highlander,2014,N
45,265,40,430029,8/21/2006,IL,250/500,1000,1454.43,0,459407,...,3,?,55120,6890,0,48230,Accura,MDX,2002,N
46,163,33,529112,1/8/1990,IN,100/300,500,1240.47,0,472573,...,1,?,77110,0,14020,63090,Honda,Civic,2014,N
47,355,47,939631,3/18/1990,OH,500/1000,2000,1273.70,4000000,433473,...,1,NO,62800,6280,6280,50240,Audi,A3,2003,Y
48,175,34,866931,1/7/2008,IN,500/1000,1000,1123.87,8000000,446326,...,0,YES,7290,810,810,5670,Volkswagen,Passat,1995,N
49,192,35,582011,3/10/1997,IL,100/300,1000,1245.89,0,435481,...,0,?,76600,15320,7660,53620,Mercedes,C300,2000,N

In [6]:
data.shape

(50, 39)

In [7]:
data_columns=data[['policy_number','policy_bind_date','policy_state','insured_zip','incident_location','incident_date','incident_state','incident_city','insured_hobbies','auto_make','auto_model','auto_year','age','total_claim_amount']]

In [8]:
useful_data =data.drop(labels=data_columns,axis=1)

In [9]:
useful_data.shape

(50, 25)

In [10]:
useful_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,5,1,YES,1,2,YES,6510,13020,52080,Y
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,8,1,?,0,0,?,780,780,3510,Y
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,7,3,NO,2,3,NO,7700,3850,23100,N
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,5,1,?,1,2,NO,6340,6340,50720,Y
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,20,1,NO,0,1,NO,1300,650,4550,N
5,256,250/500,1000,1351.10,0,FEMALE,PhD,tech-support,unmarried,0,...,19,3,NO,0,2,NO,6410,6410,51280,Y
6,137,250/500,1000,1333.35,0,MALE,PhD,prof-specialty,husband,0,...,0,3,?,0,0,?,21450,7150,50050,N
7,165,100/300,1000,1137.03,0,MALE,Associate,tech-support,unmarried,0,...,23,3,?,2,2,YES,9380,9380,32830,N
8,27,100/300,500,1442.99,0,FEMALE,PhD,other-service,own-child,0,...,21,1,NO,1,1,YES,2770,2770,22160,N
9,212,100/300,500,1315.68,0,MALE,PhD,priv-house-serv,wife,0,...,14,1,NO,2,1,?,4700,4700,32900,N
10,235,100/300,500,1253.12,4000000,FEMALE,Masters,exec-managerial,other-relative,38400,...,22,1,YES,2,2,?,7910,15820,63280,N
11,447,100/300,2000,1137.16,0,FEMALE,High School,exec-managerial,other-relative,0,...,21,3,YES,1,2,YES,17680,17680,79560,N
12,60,500/1000,500,1215.36,3000000,MALE,MD,protective-serv,wife,0,...,9,1,YES,1,0,NO,4710,9420,42390,N
13,121,100/300,1000,936.61,0,FEMALE,MD,armed-forces,wife,52800,...,5,1,NO,1,1,NO,1120,1120,5040,N
14,180,250/500,2000,1301.13,0,FEMALE,College,machine-op-inspct,not-in-family,41300,...,12,1,NO,0,2,YES,4200,8400,33600,Y
15,473,100/300,2000,1131.40,0,FEMALE,MD,transport-moving,other-relative,55700,...,12,4,YES,0,0,NO,10520,10520,42080,Y
16,70,500/1000,1000,1199.44,5000000,MALE,College,machine-op-inspct,own-child,63600,...,0,3,?,1,2,YES,5790,5790,40530,N
17,140,500/1000,500,708.64,6000000,MALE,High School,machine-op-inspct,unmarried,53500,...,9,1,NO,0,2,YES,14160,7080,56640,N
18,160,500/1000,500,1374.22,0,FEMALE,MD,craft-repair,other-relative,45500,...,19,1,YES,1,0,NO,6630,13260,53040,N
19,196,500/1000,2000,1475.73,0,FEMALE,High School,handlers-cleaners,own-child,57000,...,8,3,?,2,0,NO,6040,6040,48320,N
20,460,250/500,1000,1187.96,4000000,MALE,JD,other-service,own-child,0,...,20,3,NO,1,0,?,0,5240,41920,N
21,217,500/1000,2000,875.15,0,FEMALE,Associate,machine-op-inspct,own-child,46700,...,15,3,?,1,2,?,0,4730,33110,N
22,370,100/300,2000,972.18,0,MALE,High School,prof-specialty,other-relative,72700,...,20,3,NO,0,0,YES,17880,5960,47680,Y
23,413,100/300,2000,1268.79,0,MALE,MD,priv-house-serv,own-child,0,...,15,1,?,2,2,?,8180,16360,73620,Y
24,237,100/300,1000,883.31,0,MALE,College,craft-repair,husband,0,...,6,1,NO,1,3,NO,7080,14160,56640,N
25,8,100/300,2000,1266.92,0,MALE,Masters,sales,own-child,0,...,16,3,NO,1,3,YES,16500,11000,44000,Y
26,257,100/300,2000,1322.10,0,MALE,High School,prof-specialty,own-child,0,...,4,1,YES,1,3,YES,1640,820,6560,N
27,202,100/300,500,848.07,3000000,MALE,JD,exec-managerial,not-in-family,31000,...,5,1,YES,2,1,?,1040,520,4160,Y
28,224,100/300,2000,1291.70,0,FEMALE,JD,sales,not-in-family,0,...,21,1,NO,1,0,YES,7760,15520,46560,N
29,241,500/1000,2000,1104.50,0,FEMALE,PhD,machine-op-inspct,unmarried,0,...,5,1,NO,2,2,NO,14100,14100,63450,N
30,64,250/500,1000,954.16,0,MALE,Masters,prof-specialty,husband,53200,...,22,4,NO,0,0,?,12600,12600,50400,N
31,166,100/300,2000,1337.28,8000000,MALE,JD,craft-repair,husband,27500,...,10,3,NO,2,2,?,7460,7460,52220,Y
32,155,500/1000,1000,1088.34,0,FEMALE,Associate,adm-clerical,other-relative,81100,...,16,3,YES,2,3,NO,3310,3310,23170,N
33,114,100/300,1000,1558.29,0,MALE,High School,farming-fishing,wife,51400,...,1,3,NO,1,2,?,14020,14020,49070,N
34,149,500/1000,500,1415.68,0,MALE,PhD,prof-specialty,own-child,0,...,17,1,YES,0,1,YES,10800,5400,48600,N
35,147,100/300,1000,1334.15,6000000,MALE,High School,craft-repair,not-in-family,53300,...,15,1,YES,2,0,YES,10620,5310,37170,Y
36,62,100/300,1000,988.45,0,FEMALE,Masters,protective-serv,unmarried,0,...,3,1,?,1,1,YES,6020,6020,48160,Y
37,289,500/1000,2000,1222.48,0,FEMALE,JD,priv-house-serv,unmarried,0,...,16,1,NO,1,1,YES,1230,820,3280,N
38,431,500/1000,2000,1155.55,0,FEMALE,MD,craft-repair,unmarried,65700,...,4,3,?,2,0,?,12460,6230,43610,N
39,199,250/500,500,1262.08,0,MALE,JD,tech-support,wife,48500,...,4,1,?,0,3,NO,10940,10940,38290,Y
40,79,100/300,500,1451.62,0,MALE,Associate,tech-support,not-in-family,0,...,19,1,NO,2,2,?,8000,4000,28000,N
41,116,250/500,500,1737.66,0,MALE,Associate,transport-moving,unmarried,0,...,1,1,?,1,1,?,16180,16180,64720,Y
42,37,500/1000,500,1475.93,0,FEMALE,College,prof-specialty,husband,0,...,17,3,YES,1,0,NO,5740,5740,40180,N
43,106,250/500,500,538.17,0,FEMALE,PhD,transport-moving,own-child,49700,...,23,1,NO,2,2,NO,5680,5680,39760,N
44,269,100/300,2000,1081.08,0,MALE,JD,priv-house-serv,unmarried,36400,...,14,1,YES,0,2,?,11280,11280,33840,N
45,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,0,...,17,3,NO,2,3,?,6890,0,48230,N
46,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,35300,...,11,3,YES,1,1,?,0,14020,63090,N
47,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,0,...,19,3,NO,2,1,NO,6280,6280,50240,Y
48,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,0,...,5,1,?,2,0,YES,810,810,5670,N
49,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,0,...,19,1,NO,0,0,?,15320,7660,53620,N

In [11]:
useful_data.replace('?', np.NaN, inplace=True)

In [12]:
useful_data

,months_as_customer,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,capital-gains,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,injury_claim,property_claim,vehicle_claim,fraud_reported
0,328,250/500,1000,1406.91,0,MALE,MD,craft-repair,husband,53300,...,5,1,YES,1,2,YES,6510,13020,52080,Y
1,228,250/500,2000,1197.22,5000000,MALE,MD,machine-op-inspct,other-relative,0,...,8,1,NaN,0,0,NaN,780,780,3510,Y
2,134,100/300,2000,1413.14,5000000,FEMALE,PhD,sales,own-child,35100,...,7,3,NO,2,3,NO,7700,3850,23100,N
3,256,250/500,2000,1415.74,6000000,FEMALE,PhD,armed-forces,unmarried,48900,...,5,1,NaN,1,2,NO,6340,6340,50720,Y
4,228,500/1000,1000,1583.91,6000000,MALE,Associate,sales,unmarried,66000,...,20,1,NO,0,1,NO,1300,650,4550,N
5,256,250/500,1000,1351.10,0,FEMALE,PhD,tech-support,unmarried,0,...,19,3,NO,0,2,NO,6410,6410,51280,Y
6,137,250/500,1000,1333.35,0,MALE,PhD,prof-specialty,husband,0,...,0,3,NaN,0,0,NaN,21450,7150,50050,N
7,165,100/300,1000,1137.03,0,MALE,Associate,tech-support,unmarried,0,...,23,3,NaN,2,2,YES,9380,9380,32830,N
8,27,100/300,500,1442.99,0,FEMALE,PhD,other-service,own-child,0,...,21,1,NO,1,1,YES,2770,2770,22160,N
9,212,100/300,500,1315.68,0,MALE,PhD,priv-house-serv,wife,0,...,14,1,NO,2,1,NaN,4700,4700,32900,N
10,235,100/300,500,1253.12,4000000,FEMALE,Masters,exec-managerial,other-relative,38400,...,22,1,YES,2,2,NaN,7910,15820,63280,N
11,447,100/300,2000,1137.16,0,FEMALE,High School,exec-managerial,other-relative,0,...,21,3,YES,1,2,YES,17680,17680,79560,N
12,60,500/1000,500,1215.36,3000000,MALE,MD,protective-serv,wife,0,...,9,1,YES,1,0,NO,4710,9420,42390,N
13,121,100/300,1000,936.61,0,FEMALE,MD,armed-forces,wife,52800,...,5,1,NO,1,1,NO,1120,1120,5040,N
14,180,250/500,2000,1301.13,0,FEMALE,College,machine-op-inspct,not-in-family,41300,...,12,1,NO,0,2,YES,4200,8400,33600,Y
15,473,100/300,2000,1131.40,0,FEMALE,MD,transport-moving,other-relative,55700,...,12,4,YES,0,0,NO,10520,10520,42080,Y
16,70,500/1000,1000,1199.44,5000000,MALE,College,machine-op-inspct,own-child,63600,...,0,3,NaN,1,2,YES,5790,5790,40530,N
17,140,500/1000,500,708.64,6000000,MALE,High School,machine-op-inspct,unmarried,53500,...,9,1,NO,0,2,YES,14160,7080,56640,N
18,160,500/1000,500,1374.22,0,FEMALE,MD,craft-repair,other-relative,45500,...,19,1,YES,1,0,NO,6630,13260,53040,N
19,196,500/1000,2000,1475.73,0,FEMALE,High School,handlers-cleaners,own-child,57000,...,8,3,NaN,2,0,NO,6040,6040,48320,N
20,460,250/500,1000,1187.96,4000000,MALE,JD,other-service,own-child,0,...,20,3,NO,1,0,NaN,0,5240,41920,N
21,217,500/1000,2000,875.15,0,FEMALE,Associate,machine-op-inspct,own-child,46700,...,15,3,NaN,1,2,NaN,0,4730,33110,N
22,370,100/300,2000,972.18,0,MALE,High School,prof-specialty,other-relative,72700,...,20,3,NO,0,0,YES,17880,5960,47680,Y
23,413,100/300,2000,1268.79,0,MALE,MD,priv-house-serv,own-child,0,...,15,1,NaN,2,2,NaN,8180,16360,73620,Y
24,237,100/300,1000,883.31,0,MALE,College,craft-repair,husband,0,...,6,1,NO,1,3,NO,7080,14160,56640,N
25,8,100/300,2000,1266.92,0,MALE,Masters,sales,own-child,0,...,16,3,NO,1,3,YES,16500,11000,44000,Y
26,257,100/300,2000,1322.10,0,MALE,High School,prof-specialty,own-child,0,...,4,1,YES,1,3,YES,1640,820,6560,N
27,202,100/300,500,848.07,3000000,MALE,JD,exec-managerial,not-in-family,31000,...,5,1,YES,2,1,NaN,1040,520,4160,Y
28,224,100/300,2000,1291.70,0,FEMALE,JD,sales,not-in-family,0,...,21,1,NO,1,0,YES,7760,15520,46560,N
29,241,500/1000,2000,1104.50,0,FEMALE,PhD,machine-op-inspct,unmarried,0,...,5,1,NO,2,2,NO,14100,14100,63450,N
30,64,250/500,1000,954.16,0,MALE,Masters,prof-specialty,husband,53200,...,22,4,NO,0,0,NaN,12600,12600,50400,N
31,166,100/300,2000,1337.28,8000000,MALE,JD,craft-repair,husband,27500,...,10,3,NO,2,2,NaN,7460,7460,52220,Y
32,155,500/1000,1000,1088.34,0,FEMALE,Associate,adm-clerical,other-relative,81100,...,16,3,YES,2,3,NO,3310,3310,23170,N
33,114,100/300,1000,1558.29,0,MALE,High School,farming-fishing,wife,51400,...,1,3,NO,1,2,NaN,14020,14020,49070,N
34,149,500/1000,500,1415.68,0,MALE,PhD,prof-specialty,own-child,0,...,17,1,YES,0,1,YES,10800,5400,48600,N
35,147,100/300,1000,1334.15,6000000,MALE,High School,craft-repair,not-in-family,53300,...,15,1,YES,2,0,YES,10620,5310,37170,Y
36,62,100/300,1000,988.45,0,FEMALE,Masters,protective-serv,unmarried,0,...,3,1,NaN,1,1,YES,6020,6020,48160,Y
37,289,500/1000,2000,1222.48,0,FEMALE,JD,priv-house-serv,unmarried,0,...,16,1,NO,1,1,YES,1230,820,3280,N
38,431,500/1000,2000,1155.55,0,FEMALE,MD,craft-repair,unmarried,65700,...,4,3,NaN,2,0,NaN,12460,6230,43610,N
39,199,250/500,500,1262.08,0,MALE,JD,tech-support,wife,48500,...,4,1,NaN,0,3,NO,10940,10940,38290,Y
40,79,100/300,500,1451.62,0,MALE,Associate,tech-support,not-in-family,0,...,19,1,NO,2,2,NaN,8000,4000,28000,N
41,116,250/500,500,1737.66,0,MALE,Associate,transport-moving,unmarried,0,...,1,1,NaN,1,1,NaN,16180,16180,64720,Y
42,37,500/1000,500,1475.93,0,FEMALE,College,prof-specialty,husband,0,...,17,3,YES,1,0,NO,5740,5740,40180,N
43,106,250/500,500,538.17,0,FEMALE,PhD,transport-moving,own-child,49700,...,23,1,NO,2,2,NO,5680,5680,39760,N
44,269,100/300,2000,1081.08,0,MALE,JD,priv-house-serv,unmarried,36400,...,14,1,YES,0,2,NaN,11280,11280,33840,N
45,265,250/500,1000,1454.43,0,FEMALE,MD,protective-serv,husband,0,...,17,3,NO,2,3,NaN,6890,0,48230,N
46,163,100/300,500,1240.47,0,FEMALE,Associate,other-service,husband,35300,...,11,3,YES,1,1,NaN,0,14020,63090,N
47,355,500/1000,2000,1273.70,4000000,MALE,College,other-service,husband,0,...,19,3,NO,2,1,NO,6280,6280,50240,Y
48,175,500/1000,1000,1123.87,8000000,FEMALE,PhD,protective-serv,other-relative,0,...,5,1,NaN,2,0,YES,810,810,5670,N
49,192,100/300,1000,1245.89,0,FEMALE,Masters,exec-managerial,wife,0,...,19,1,NO,0,0,NaN,15320,7660,53620,N

In [13]:
null_counts=useful_data.isnull().sum()

In [14]:
columns = useful_data.columns

In [15]:
null_counts

months_as_customer              0
policy_csl                      0
policy_deductable               0
policy_annual_premium           0
umbrella_limit                  0
insured_sex                     0
insured_education_level         0
insured_occupation              0
insured_relationship            0
capital-gains                   0
capital-loss                    0
incident_type                   0
collision_type                  7
incident_severity               0
authorities_contacted           0
incident_hour_of_the_day        0
number_of_vehicles_involved     0
property_damage                13
bodily_injuries                 0
witnesses                       0
police_report_available        18
injury_claim                    0
property_claim                  0
vehicle_claim                   0
fraud_reported                  0
dtype: int64

In [16]:
columns[12]

'collision_type'

In [17]:
for i in range(len(null_counts)):
    if null_counts[i]>0:
        print(columns[i])

collision_type
property_damage
police_report_available

In [18]:
dataframe_with_null = pd.DataFrame()

In [19]:
dataframe_with_null

Empty DataFrame
Columns: []
Index: []

In [20]:
dataframe_with_null['columns'] = useful_data.columns

In [21]:
np.asarray(useful_data.isna().sum())

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  7,  0,  0,  0,  0,
       13,  0,  0, 18,  0,  0,  0,  0], dtype=int64)

In [22]:
dataframe_with_null['missing values count'] = np.asarray(useful_data.isna().sum())

In [23]:
dataframe_with_null

                        columns  missing values count
0            months_as_customer                     0
1                    policy_csl                     0
2             policy_deductable                     0
3         policy_annual_premium                     0
4                umbrella_limit                     0
5                   insured_sex                     0
6       insured_education_level                     0
7            insured_occupation                     0
8          insured_relationship                     0
9                 capital-gains                     0
10                 capital-loss                     0
11                incident_type                     0
12               collision_type                     7
13            incident_severity                     0
14        authorities_contacted                     0
15     incident_hour_of_the_day                     0
16  number_of_vehicles_involved                     0
17              property_damage                    13
18              bodily_injuries                     0
19                    witnesses                     0
20      police_report_available                    18
21                 injury_claim                     0
22               property_claim                     0
23                vehicle_claim                     0
24               fraud_reported                     0

In [24]:
dataframe_with_null.to_csv('null_values.csv')

In [25]:
from sklearn_pandas import CategoricalImputer

In [26]:
imputer = CategoricalImputer()

In [28]:
useful_data[['collision_type']]

     collision_type
0    Side Collision
1               NaN
2    Rear Collision
3   Front Collision
4               NaN
5    Rear Collision
6   Front Collision
7   Front Collision
8   Front Collision
9    Rear Collision
10  Front Collision
11  Front Collision
12   Rear Collision
13              NaN
14   Rear Collision
15   Side Collision
16   Rear Collision
17   Side Collision
18   Side Collision
19   Side Collision
20   Rear Collision
21   Side Collision
22   Rear Collision
23  Front Collision
24   Rear Collision
25   Rear Collision
26              NaN
27              NaN
28   Side Collision
29   Rear Collision
30   Side Collision
31   Side Collision
32  Front Collision
33  Front Collision
34   Side Collision
35  Front Collision
36   Rear Collision
37              NaN
38   Rear Collision
39  Front Collision
40   Rear Collision
41   Side Collision
42   Side Collision
43   Rear Collision
44  Front Collision
45   Rear Collision
46   Rear Collision
47  Front Collision
48              NaN
49   Rear Collision

In [31]:
useful_data['collision_type'] =imputer.fit_transform(useful_data['collision_type'])

In [32]:
useful_data['collision_type']

0      Side Collision
1      Rear Collision
2      Rear Collision
3     Front Collision
4      Rear Collision
5      Rear Collision
6     Front Collision
7     Front Collision
8     Front Collision
9      Rear Collision
10    Front Collision
11    Front Collision
12     Rear Collision
13     Rear Collision
14     Rear Collision
15     Side Collision
16     Rear Collision
17     Side Collision
18     Side Collision
19     Side Collision
20     Rear Collision
21     Side Collision
22     Rear Collision
23    Front Collision
24     Rear Collision
25     Rear Collision
26     Rear Collision
27     Rear Collision
28     Side Collision
29     Rear Collision
30     Side Collision
31     Side Collision
32    Front Collision
33    Front Collision
34     Side Collision
35    Front Collision
36     Rear Collision
37     Rear Collision
38     Rear Collision
39    Front Collision
40     Rear Collision
41     Side Collision
42     Side Collision
43     Rear Collision
44    Front Collision
45     Rear Collision
46     Rear Collision
47    Front Collision
48     Rear Collision
49     Rear Collision
Name: collision_type, dtype: object

In [50]:
useful_data['property_damage'] = imputer.fit_transform(useful_data['property_damage'] )

In [51]:
useful_data['police_report_available'] = imputer.fit_transform(useful_data['police_report_available'])

In [46]:
useful_data['police_report_available'] = useful_data['police_report_available'].fillna(useful_data['police_report_available'].mode())

In [52]:
useful_data.isnull().sum()

months_as_customer             0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
fraud_reported                 0
dtype: int64

In [63]:
cat_df= useful_data.select_dtypes(include=['object']).copy()

In [80]:
cat_df

,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,property_damage,police_report_available,fraud_reported
0,2.5,1,6,craft-repair,husband,Single Vehicle Collision,Side Collision,3,Police,YES,YES,Y
1,2.5,1,6,machine-op-inspct,other-relative,Vehicle Theft,Rear Collision,2,Police,NO,YES,Y
2,1.0,0,7,sales,own-child,Multi-vehicle Collision,Rear Collision,2,Police,NO,NO,N
3,2.5,0,7,armed-forces,unmarried,Single Vehicle Collision,Front Collision,3,Police,NO,NO,Y
4,5.0,1,5,sales,unmarried,Vehicle Theft,Rear Collision,2,None,NO,NO,N
5,2.5,0,7,tech-support,unmarried,Multi-vehicle Collision,Rear Collision,3,Fire,NO,NO,Y
6,2.5,1,7,prof-specialty,husband,Multi-vehicle Collision,Front Collision,2,Police,NO,YES,N
7,1.0,1,5,tech-support,unmarried,Multi-vehicle Collision,Front Collision,4,Police,NO,YES,N
8,1.0,0,7,other-service,own-child,Single Vehicle Collision,Front Collision,4,Police,NO,YES,N
9,1.0,1,7,priv-house-serv,wife,Single Vehicle Collision,Rear Collision,4,Other,NO,YES,N
10,1.0,0,4,exec-managerial,other-relative,Single Vehicle Collision,Front Collision,4,Police,YES,YES,N
11,1.0,0,2,exec-managerial,other-relative,Multi-vehicle Collision,Front Collision,3,Fire,YES,YES,N
12,5.0,1,6,protective-serv,wife,Single Vehicle Collision,Rear Collision,4,Ambulance,YES,NO,N
13,1.0,0,6,armed-forces,wife,Parked Car,Rear Collision,2,None,NO,NO,N
14,2.5,0,3,machine-op-inspct,not-in-family,Single Vehicle Collision,Rear Collision,4,Police,NO,YES,Y
15,1.0,0,6,transport-moving,other-relative,Multi-vehicle Collision,Side Collision,3,Other,YES,NO,Y
16,5.0,1,3,machine-op-inspct,own-child,Multi-vehicle Collision,Rear Collision,3,Other,NO,YES,N
17,5.0,1,2,machine-op-inspct,unmarried,Single Vehicle Collision,Side Collision,4,Police,NO,YES,N
18,5.0,0,6,craft-repair,other-relative,Single Vehicle Collision,Side Collision,4,Other,YES,NO,N
19,5.0,0,2,handlers-cleaners,own-child,Multi-vehicle Collision,Side Collision,3,Police,NO,NO,N
20,2.5,1,1,other-service,own-child,Multi-vehicle Collision,Rear Collision,2,Police,NO,YES,N
21,5.0,0,5,machine-op-inspct,own-child,Multi-vehicle Collision,Side Collision,4,Police,NO,YES,N
22,1.0,1,2,prof-specialty,other-relative,Multi-vehicle Collision,Rear Collision,3,Ambulance,NO,YES,Y
23,1.0,1,6,priv-house-serv,own-child,Single Vehicle Collision,Front Collision,4,Ambulance,NO,YES,Y
24,1.0,1,3,craft-repair,husband,Single Vehicle Collision,Rear Collision,2,Other,NO,NO,N
25,1.0,1,4,sales,own-child,Multi-vehicle Collision,Rear Collision,3,Other,NO,YES,Y
26,1.0,1,2,prof-specialty,own-child,Parked Car,Rear Collision,2,Police,YES,YES,N
27,1.0,1,1,exec-managerial,not-in-family,Vehicle Theft,Rear Collision,2,None,YES,YES,Y
28,1.0,0,1,sales,not-in-family,Single Vehicle Collision,Side Collision,2,Other,NO,YES,N
29,5.0,0,7,machine-op-inspct,unmarried,Single Vehicle Collision,Rear Collision,2,Police,NO,NO,N
30,2.5,1,4,prof-specialty,husband,Multi-vehicle Collision,Side Collision,3,Ambulance,NO,YES,N
31,1.0,1,1,craft-repair,husband,Multi-vehicle Collision,Side Collision,3,Police,NO,YES,Y
32,5.0,0,5,adm-clerical,other-relative,Multi-vehicle Collision,Front Collision,4,Police,YES,NO,N
33,1.0,1,2,farming-fishing,wife,Multi-vehicle Collision,Front Collision,3,Ambulance,NO,YES,N
34,5.0,1,7,prof-specialty,own-child,Single Vehicle Collision,Side Collision,4,Fire,YES,YES,N
35,1.0,1,2,craft-repair,not-in-family,Single Vehicle Collision,Front Collision,3,Other,YES,YES,Y
36,1.0,0,4,protective-serv,unmarried,Single Vehicle Collision,Rear Collision,4,Police,NO,YES,Y
37,5.0,0,1,priv-house-serv,unmarried,Parked Car,Rear Collision,2,None,NO,YES,N
38,5.0,0,6,craft-repair,unmarried,Multi-vehicle Collision,Rear Collision,3,Police,NO,YES,N
39,2.5,1,1,tech-support,wife,Single Vehicle Collision,Front Collision,3,Ambulance,NO,NO,Y
40,1.0,1,5,tech-support,not-in-family,Single Vehicle Collision,Rear Collision,2,Ambulance,NO,YES,N
41,2.5,1,5,transport-moving,unmarried,Single Vehicle Collision,Side Collision,3,Police,NO,YES,Y
42,5.0,0,3,prof-specialty,husband,Multi-vehicle Collision,Side Collision,2,Other,YES,NO,N
43,2.5,0,7,transport-moving,own-child,Single Vehicle Collision,Rear Collision,4,Other,NO,NO,N
44,1.0,1,1,priv-house-serv,unmarried,Single Vehicle Collision,Front Collision,2,Other,YES,YES,N
45,2.5,0,6,protective-serv,husband,Multi-vehicle Collision,Rear Collision,4,Other,NO,YES,N
46,1.0,0,5,other-service,husband,Multi-vehicle Collision,Rear Collision,4,Fire,YES,YES,N
47,5.0,1,3,other-service,husband,Multi-vehicle Collision,Front Collision,3,Fire,NO,NO,Y
48,5.0,0,7,protective-serv,other-relative,Vehicle Theft,Rear Collision,1,Police,NO,YES,N
49,1.0,0,4,exec-managerial,wife,Single Vehicle Collision,Rear Collision,4,Other,NO,YES,N

In [66]:
set(cat_df['policy_csl'])

{'100/300', '250/500', '500/1000'}

In [68]:
cat_df['policy_csl'] = cat_df['policy_csl'].map({'100/300' : 1,'250/500' : 2.5 ,'500/1000': 5 })

In [70]:
set(cat_df['insured_education_level'])

{'Associate', 'College', 'High School', 'JD', 'MD', 'Masters', 'PhD'}

In [73]:
cat_df['insured_education_level'] = cat_df['insured_education_level'].map({'JD':1, 'High School': 2, 'College':3, 'Masters':4, 'Associate': 5, 'MD': 6, 'PhD': 7 })

In [75]:
set(cat_df['incident_severity'])

{'Major Damage', 'Minor Damage', 'Total Loss', 'Trivial Damage'}

In [77]:
cat_df['incident_severity'] = cat_df['incident_severity'].map({'Trivial Damage': 1, 'Minor Damage': 2, 'Major Damage': 3, 'Total Loss': 4})

In [79]:
cat_df['insured_sex'] = cat_df['insured_sex'].map({'FEMALE': 0, 'MALE': 1})

In [72]:
set(cat_df['insured_relationship'])

{'husband',
 'not-in-family',
 'other-relative',
 'own-child',
 'unmarried',
 'wife'}

In [ ]:
set(cat_df['insured_relationship'])