In [2]:
import pandas as pd

In [4]:
df=pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [5]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
df.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [8]:
df.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [9]:
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
fline = df.head()

In [12]:
fline

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [13]:
fline.to_csv('newdata1.csv')

In [14]:
pd.read_csv('newdata1.csv')

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [15]:
%ls

 Volume in drive E is New Volume
 Volume Serial Number is EE0B-F929

 Directory of E:\Data Science\DS\04-Pandas\test

29/01/2022  05:25 PM    <DIR>          .
29/01/2022  05:25 PM    <DIR>          ..
29/01/2022  05:13 PM    <DIR>          .ipynb_checkpoints
29/01/2022  05:25 PM               333 newdata1.csv
29/01/2022  05:25 PM            26,159 Untitled.ipynb
               2 File(s)         26,492 bytes
               3 Dir(s)  155,496,853,504 bytes free

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

In [17]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [32]:
pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t",na_values=['Izze','Chicken Salad Bowl'] )

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,NaN,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [33]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [35]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [40]:
df.to_csv('newdata2.csv',index=False,header=False,sep='#')

In [42]:
df.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [44]:
df.to_csv('newdata2.csv',columns=['item_name', 'item_price'],index=False)

In [45]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [47]:
df['item_name'].head()

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
Name: item_name, dtype: object

In [48]:
df[['item_name']].head()

                               item_name
0           Chips and Fresh Tomato Salsa
1                                   Izze
2                       Nantucket Nectar
3  Chips and Tomatillo-Green Chili Salsa
4                           Chicken Bowl

In [49]:
type(df['item_name'])

pandas.core.series.Series

In [52]:
df[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [54]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [55]:
df=pd.read_excel('LUSID.xlsx')

In [56]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,1) Create your Live Production Environment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,In LUSID you can segregate environments by mak...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Scopes.,NaN,NaN
14,NaN,NaN,NaN,NaN,Each scope has a unique code which is used to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,To manage your client's assets you will also n...,NaN,NaN,NaN,NaN,NaN,LUSID API Knowledge Base: Portfolios,NaN,NaN
16,NaN,NaN,NaN,NaN,A portfolio lives within a given scope. Each p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,"When you add a portfolio, you can specify whic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,Scope:,Production-client,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,OK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,DisplayName,Description,Code,Created,BaseCurrency,CorporateActionSourceId,AccountingMethod,SubHoldingKeys,Result
26,NaN,NaN,NaN,1.0,Pension-fund,Pension fund for new client,Pension-fund,2019-09-08 11:49:22.720000,GBP,NaN,AverageCost,NaN,Error creating portfolio with id Pension-fund ...
27,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
pd.read_excel('LUSID.xlsx', sheet_name="Add your take on balances")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,3) Add your Take on Balances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,Now that you have populated your instrument un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,The official transfer took place 2 days ago. Y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,For further usage of the set holdings API call...,NaN,NaN,NaN,NaN,NaN,LUSID API Docs: Set Holdings,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Specify details of your holdings and add these...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Scope:,Production-client,"To view a list of existing scopes, please s...",NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Portfolio code:,Pension-fund,"To view a list of existing Portfolios, plea...",NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Effective date:,2019-09-08 11:49:22.720000,The effective date refers to the date the h...,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Mandatory fields,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,Instrument Id Types,Instrument Ids,Units,Cost,Currency,Portfolio Cost,Price,Purchase date,Settlement date
31,NaN,NaN,NaN,1.0,Figi,BBG000BF6B57,1050200,9147242,GBP,9147242,8.71,NaN,NaN
32,NaN,NaN,NaN,2.0,Figi,BBG006N6HZM7,100674,13085203.824,GBP,13085203.824,129.976,NaN,NaN
33,NaN,NaN,NaN,3.0,Figi,BBG0088JSC32,220456,23461147.976,GBP,23461147.976,106.421,NaN,NaN
34,NaN,NaN,NaN,4.0,Figi,BBG0000D14P3,97658,13522312.628,GBP,13522312.628,138.466,NaN,NaN
35,NaN,NaN,NaN,5.0,Figi,BBG001KKJLR4,320568,34677443.4,GBP,34677443.4,108.175,NaN,NaN
36,NaN,NaN,NaN,6.0,Figi,BBG000BKH1W6,2879200,6892804.8,GBP,6892804.8,2.394,NaN,NaN
37,NaN,NaN,NaN,7.0,Figi,BBG0065YWM39,4789100,28629239.8,GBP,28629239.8,5.978,NaN,NaN
38,NaN,NaN,NaN,8.0,Figi,BBG000D03XD4,6134800,101684310,GBP,101684310,16.575,NaN,NaN
39,NaN,NaN,NaN,9.0,Figi,BBG000BF46Y8,13456500,26058512.25,GBP,26058512.25,1.9365,NaN,NaN
40,NaN,NaN,NaN,10.0,Figi,BBG000BRVH05,8954300,40912196.7,GBP,40912196.7,4.569,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,Holdings set for portfolio code Pension-fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df=pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [61]:
df[0]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),...,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2
5,2013-14,24.0,OKC,NBA,PF,81,81,32.9,6.5,12.1,...,.784,2.8,6.0,8.8,1.0,0.5,2.7,1.5,2.9,15.1
6,2014-15,25.0,OKC,NBA,PF,64,64,33.1,5.8,12.3,...,.836,2.1,5.7,7.8,0.9,0.5,2.4,1.5,3.0,14.3
7,2015-16,26.0,OKC,NBA,PF,78,78,32.1,5.3,11.1,...,.752,1.8,5.0,6.8,0.8,0.5,1.9,1.4,2.7,12.6
8,2016-17,27.0,TOT,NBA,PF,79,79,30.7,6.0,12.4,...,.856,1.6,5.2,6.8,0.9,0.5,1.6,1.3,2.7,14.8
9,2016-17,27.0,ORL,NBA,PF,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1
10,2016-17,27.0,TOR,NBA,PF,23,23,31.0,5.6,12.1,...,.882,1.3,5.5,6.8,0.7,0.3,1.4,1.7,3.3,14.2
11,2017-18,28.0,TOR,NBA,PF,76,76,27.5,5.0,10.3,...,.797,1.0,5.3,6.3,0.8,0.4,1.3,1.2,2.8,12.6
12,2018-19,29.0,TOR,NBA,C,74,51,27.2,6.3,11.9,...,.763,2.1,6.0,8.1,1.3,0.4,1.4,1.5,2.9,15.0
13,2019-20,30.0,TOR,NBA,C,55,27,27.0,6.2,12.2,...,.718,2.1,6.1,8.2,1.4,0.5,0.8,2.0,2.8,15.4
14,2020-21,31.0,LAC,NBA,C,41,39,23.3,4.5,8.9,...,.811,1.8,4.9,6.7,1.8,0.2,1.1,1.1,1.9,11.1
15,2021-22,32.0,LAC,NBA,C,31,8,14.7,2.4,5.2,...,.636,1.1,2.8,3.9,1.1,0.2,0.7,1.0,1.5,6.0
16,Career,NaN,NaN,NBA,NaN,880,693,27.9,5.1,9.9,...,.758,2.1,5.1,7.2,0.8,0.4,2.0,1.3,2.7,12.3
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,7 seasons,NaN,OKC,NBA,NaN,524,413,28.8,4.9,9.3,...,.745,2.4,5.0,7.4,0.6,0.4,2.5,1.3,2.8,11.6
19,4 seasons,NaN,TOR,NBA,NaN,228,177,27.6,5.8,11.4,...,.768,1.7,5.7,7.4,1.1,0.4,1.2,1.5,2.8,14.2
20,2 seasons,NaN,LAC,NBA,NaN,72,47,19.6,3.6,7.3,...,.760,1.5,4.0,5.5,1.5,0.2,0.9,1.0,1.7,8.9
21,1 season,NaN,ORL,NBA,NaN,56,56,30.5,6.1,12.6,...,.846,1.8,5.0,6.8,1.1,0.6,1.6,1.2,2.5,15.1

In [62]:
type(df)

list

In [63]:
len(df)

6

In [66]:
df[2].to_csv('newdata1.csv',index=False)

In [67]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [68]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [69]:
s = """{
"name" : "sachin",
"phone_no" : 393782,
"company" : ["Google","EY", "Microsoft","Amazon","deloitte"]

}
"""

In [70]:
import json

In [73]:
s1 = json.loads(s)

In [75]:
pd.DataFrame(s1)

     name  phone_no    company
0  sachin    393782     Google
1  sachin    393782         EY
2  sachin    393782  Microsoft
3  sachin    393782     Amazon
4  sachin    393782   deloitte

In [76]:
pd.DataFrame(s1,columns=['company'])

     company
0     Google
1         EY
2  Microsoft
3     Amazon
4   deloitte

In [78]:
import requests

In [79]:
df = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [80]:
df

In [82]:
js=df.json()

In [86]:
for i in js:
    print(i['url'], end="")
    print('\n')

https://api.github.com/repos/pandas-dev/pandas/issues/45694

https://api.github.com/repos/pandas-dev/pandas/issues/45693

https://api.github.com/repos/pandas-dev/pandas/issues/45692

https://api.github.com/repos/pandas-dev/pandas/issues/45691

https://api.github.com/repos/pandas-dev/pandas/issues/45689

https://api.github.com/repos/pandas-dev/pandas/issues/45688

https://api.github.com/repos/pandas-dev/pandas/issues/45687

https://api.github.com/repos/pandas-dev/pandas/issues/45686

https://api.github.com/repos/pandas-dev/pandas/issues/45684

https://api.github.com/repos/pandas-dev/pandas/issues/45681

https://api.github.com/repos/pandas-dev/pandas/issues/45679

https://api.github.com/repos/pandas-dev/pandas/issues/45678

https://api.github.com/repos/pandas-dev/pandas/issues/45675

https://api.github.com/repos/pandas-dev/pandas/issues/45673

https://api.github.com/repos/pandas-dev/pandas/issues/45672

https://api.github.com/repos/pandas-dev/pandas/issues/45670

https://api.github.com/repos/pandas-dev/pandas/issues/45668

https://api.github.com/repos/pandas-dev/pandas/issues/45664

https://api.github.com/repos/pandas-dev/pandas/issues/45660

https://api.github.com/repos/pandas-dev/pandas/issues/45658

https://api.github.com/repos/pandas-dev/pandas/issues/45656

https://api.github.com/repos/pandas-dev/pandas/issues/45652

https://api.github.com/repos/pandas-dev/pandas/issues/45648

https://api.github.com/repos/pandas-dev/pandas/issues/45644

https://api.github.com/repos/pandas-dev/pandas/issues/45641

https://api.github.com/repos/pandas-dev/pandas/issues/45638

https://api.github.com/repos/pandas-dev/pandas/issues/45637

https://api.github.com/repos/pandas-dev/pandas/issues/45634

https://api.github.com/repos/pandas-dev/pandas/issues/45630

https://api.github.com/repos/pandas-dev/pandas/issues/45629

In [87]:
js1 = pd.DataFrame(js)

In [88]:
js1

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,updated_at,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45694,1118084945,I_kwDOAA0YD85CpJ9R,45694,BUG: Float Nullable dtypes not being returned ...,...,2022-01-29T07:05:03Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45693,1118019795,PR_kwDOAA0YD84xxIHo,45693,TST/CLN: organize SparseArray tests,...,2022-01-29T03:54:46Z,None,MEMBER,None,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45692,1118014548,PR_kwDOAA0YD84xxHJG,45692,TST: Remove unused fixtures,...,2022-01-29T06:54:19Z,None,MEMBER,None,- [ ] tests added / passed\r\n- [x] Ensure all...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45691,1117960359,PR_kwDOAA0YD84xw8gl,45691,BUG: Series[sparse].where losing fill_value,...,2022-01-29T00:56:05Z,None,MEMBER,None,- [ ] closes #xxxx\r\n- [x] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45689,1117927751,PR_kwDOAA0YD84xw1Ye,45689,REF: make Block.delete return a new Block,...,2022-01-29T04:58:03Z,None,MEMBER,None,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
5,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45688,1117906005,PR_kwDOAA0YD84xww5n,45688,TST: Use less autouse=True when unecessary,...,2022-01-29T02:01:52Z,None,MEMBER,None,- [x] tests added / passed\r\n- [x] Ensure all...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
6,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45687,1117902392,PR_kwDOAA0YD84xwwXC,45687,ENH: Allow safe access to `.book` in ExcelWriter,...,2022-01-29T00:13:56Z,None,MEMBER,None,Towards #45572 \r\n\r\n- [x] Ensure all lintin...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
7,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45686,1117893728,I_kwDOAA0YD85CobRg,45686,ENH: Styler apply_index should have the abilit...,...,2022-01-29T10:15:38Z,None,NONE,None,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
8,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45684,1117847611,I_kwDOAA0YD85CoQA7,45684,BUG: Label and integer based indexing return d...,...,2022-01-28T23:08:47Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
9,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45681,1117605096,I_kwDOAA0YD85CnUzo,45681,PERF: .loc slow with large DataFrame with Mult...,...,2022-01-28T23:09:19Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
10,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45679,1117356088,PR_kwDOAA0YD84xvAVv,45679,BUG: Do not error on other dbapi2 connections,...,2022-01-29T00:14:17Z,None,NONE,None,Do not throw an error in `pandasSQL_builder` w...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
11,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45678,1117352456,I_kwDOAA0YD85CmXII,45678,ENH: Integration with DuckDB,...,2022-01-28T17:44:03Z,None,NONE,None,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
12,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45675,1117255069,PR_kwDOAA0YD84xuqxo,45675,Adding DuckDB as a SQL Database for the to_sql...,...,2022-01-29T00:14:50Z,None,NONE,None,This PR adds DuckDB as a direct possibility to...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
13,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45673,1116995269,PR_kwDOAA0YD84xt06w,45673,BUG: consistent downcast on fillna no-ops,...,2022-01-29T04:58:31Z,None,MEMBER,None,- [x] closes #45423\r\n- [x] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
14,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45672,1116940190,PR_kwDOAA0YD84xtpmY,45672,REF: implement LossySetitemError,...,2022-01-29T04:58:19Z,None,MEMBER,None,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
15,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45670,1116897054,PR_kwDOAA0YD84xtg-n,45670,Add DataFrame.iterrowdicts,...,2022-01-28T05:00:04Z,None,NONE,None,- [x] tests added / passed\r\n- [ ] Ensure all...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
16,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45668,1116874482,PR_kwDOAA0YD84xtcJI,45668,BUG: unnecessary FutureWarning in sort_values,...,2022-01-29T06:00:34Z,None,MEMBER,None,- [x] closes #45618\r\n- [x] tests added / pas...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
17,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45664,1116660475,PR_kwDOAA0YD84xswB2,45664,Investigate Conda env caching,...,2022-01-28T14:24:44Z,None,CONTRIBUTOR,None,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,True,{'url': 'https://api.github.com/repos/pandas-d...
18,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45660,1116494005,I_kwDOAA0YD85CjFi1,45660,BUG:,...,2022-01-27T17:08:34Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
19,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45658,1116162887,I_kwDOAA0YD85Ch0tH,45658,PERF: Calling df.agg([function]) is much slowe...,...,2022-01-28T10:09:57Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
20,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45656,1116077132,I_kwDOAA0YD85ChfxM,45656,BUG: resample.last return non-nan value by def...,...,2022-01-27T20:39:28Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
21,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45652,1115643277,I_kwDOAA0YD85Cf12N,45652,PERF: Regression with indexing with ExtensionE...,...,2022-01-27T03:37:15Z,None,CONTRIBUTOR,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
22,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45648,1115582885,I_kwDOAA0YD85CfnGl,45648,BUG: groupby transform doesn't respect Series ...,...,2022-01-27T04:47:12Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
23,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45644,1115445357,PR_kwDOAA0YD84xoxyg,45644,BUG: frame.shift(axis=1) with ArrayManager,...,2022-01-29T04:59:41Z,None,MEMBER,None,- [ ] closes #xxxx\r\n- [x] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
24,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/45641,1115291271,PR_kwDOAA0YD84xoT5b,45641,Switch deps to Conda,...,2022-01-27T23:13:00Z,None,CONTRIBUTOR,None,- [ ] closes #xxxx\r\n- [ ] tests added / pass...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,False,{'url': 'https://api.github.com/repos/pandas-d...
25,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45638,1115180862,I_kwDOAA0YD85CeE8-,45638,BUG: add_categories raises if the new category...,...,2022-01-26T15:55:04Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45637,1115135762,I_kwDOAA0YD85Cd58S,45637,BUG: concat with empty dataframe with columns ...,...,2022-01-26T18:29:26Z,None,NONE,None,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45634,1114939783,I_kwDOAA0YD85CdKGH,45634,BUG: bootstrap_plot samples without replacement,...,2022-01-26T11:59:38Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45630,1114594387,I_kwDOAA0YD85Cb1xT,45630,BUG: read_csv with `memory_map=True` on BytesI...,...,2022-01-27T02:23:43Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN
29,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/45629,1114569978,I_kwDOAA0YD85Cbvz6,45629,BUG: `set_index` with object column gives wron...,...,2022-01-29T02:37:24Z,None,NONE,None,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,None,NaN,NaN

In [89]:
js1.to_csv('newdata1.csv')

In [90]:
for i in js:
    print(i['user']['login'], end=' ')
    print("\n")

galipremsagar

jbrockmendel

mroeschke

jbrockmendel

jbrockmendel

mroeschke

rhshadrach

tehunter

epmojo

philipphu

abowden1989

pdet

pdet

jbrockmendel

jbrockmendel

logannc

jbrockmendel

jonashaag

vincent3717

yakymp

tade0726

dalejung

ben519

jbrockmendel

jonashaag

douglas-raillard-arm

aamster

robertclancy

RehanSD

ntjess